.ProductImages {
  width: 100px;
}

.navigation {
  background-color: black;
}

.navigation a {
  text-decoration: none;
  color: white;
}

.navigation a:hover {
  background: white;
}

.content {
  background-color: #664023;
  color: white;
}

.content a {
  color: white;
}

.content a:hover {
  background-color: white;
}

.footer {
  color: white;
}

.product-image {
  width: 400px;
}
